#repeatMainControl {
    /*float:right;*/
    /*width: 100%;*/
    padding-left: 5px;
    padding-top: 10px;
}

.input-container {
    /*width: 80px;*/
    height: 30px;
}
.input-text {
    width: 80px !important;
    /*margin-left:px;*/
}

.one-line {
    padding-left: 10px;
    width: 140px;
    display: inline-block;
}
#checkboxContainer  {
    margin-left: 5px;
    margin-bottom: 3px;
    width: 100px;
    display: inline-block;
}

.replay-container{
    float: left !important;
    margin-top: 2px;
    display: inline-block;
}
.replay-container .checkbox{
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 3px;
    color: rgb(17, 51, 204) !important;
    background: none;
    margin-top: 2px;
}
.replay-container .text{
    float: right;
    font-weight: bold;
    padding-left: 4px;
    padding-top: 3px;
    text-shadow: white 0px 1px 8px;
    display: inline-block;
    -webkit-transition-delay: 0ms;
    -webkit-transition-property: text-shadow,color;
    -webkit-transition-duration: 300ms;
}
#messageBox{


}