#repeatMainControl {
    display: inline-flex;
    padding-top: 8px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border-top: 1px solid #e2e2e2;
}
#repeatMainControl .input-text {
    width: 72px !important;
}

#repeatMainControl .one-line {
    width: 110px;
    display: inline-block;
}

#repeatMainControl #checkboxContainer {
    padding-top: 10px;
}

#repeatMainControl #messageBox {
    padding-left: 13px;
    padding-top: 10px;
}

@media (max-width: 658px) {
    #repeatMainControl #messageBox {
        display: none;
    }
}

#repeatMainControl #endContainer {
    margin-left: 4px;
}

#repeatMainControl #checkboxContainer {
    margin-left: 4px;
}

#repeatMainControl #checkboxSpan {
    margin-left: 4px;
}

#repeatMainControl .form-control {
    height: 33px;
}
